/*  High hierarchy controls of 4 sections of the page: 
    TOP
    MID
    Quote Area
    Bottom  
*/

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 250px;
    padding-right: 250px;
    margin: 0;
    
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-bottom: 100px;
}

.quote_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom{
    display: flex;
    flex-direction: column;
}

/*  TOP section classes controls below: */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 100px;
}

.intro_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.placeholder{
    display: flex;
    align-items: flex-start;
    width: 550px;
    height: 300px;
    padding: 15px;
  }

  .text{
    display: flex;
    color: #676767;
    font-size: 25px;
    text-align: left;
}
/*  MID section classes controls below: */

.headline{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.signed_pics{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.pic .text{
    text-align: center;
    width: 200px;
}

.placeholder2{
    width: 170px;
    height: 150px;
    align-items: center;
    border: solid #3882F6;
    padding: 0;
    margin: 30px;
    border-width: 1px;
    border-radius: 12px;
}
/*  Quote Area section classes controls below:   */

.quote_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    padding-left: 350px;
    padding-right: 350px;
    color: #1F2937;
}

.quote_text{
    display: flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    padding: 25px;
}

.quote_author{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}
/*  Bottom section classes controls below:  */

.call_to_action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #e5e7eb;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
 }

 .footer_button{
    border: solid #e5e7eb;
    border-width: 1px;
    border-radius: 12px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color:  #e5e7eb;
    padding: 30px;
    margin: 0;
}
/*  general (classless) tags below  */

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

h2{
    font-size: 24px;
    margin: 0;
}

p{
    margin: 0;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
}

button{
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    border:0;
    padding: 12px;
    width: 140px;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 12px;
}